apiVersion: v1
kind: Service
metadata:
  name: encontros-tech
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8000"
spec:
  selector:
    app: encontros-tech
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
