name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Obter o Código"

      - name: Checkout do Código
        uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Instalar Dependências
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Executar Testes
        working-directory: 02-encontros-tech
        run: |
          python -m pytest tests/ -v  

      - name: Configurar Docker Buildx (para multi-arquitetura, opcional)
        uses: docker/setup-buildx-action@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Construir e Enviar Imagem Docker
        uses: docker/build-push-action@v5
        with:
          file: ./02-encontros-tech/Dockerfile
          context: ./02-encontros-tech # Onde está o Dockerfile
          push: true
          # tags: ${{ vars.DOCKERHUB_USERNAME }}/bootcamp-encontros-tech:${{ github.sha }}
          # Você pode adicionar mais tags, como 'latest':
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/bootcamp-encontros-tech:latest
            ${{ vars.DOCKERHUB_USERNAME }}/bootcamp-encontros-tech:${{ github.sha }}
            ${{ vars.DOCKERHUB_USERNAME }}/bootcamp-encontros-tech:${{ github.run_number }}
  CD:
    needs: CI # Garante que o CD só rodará se o CI for bem-sucedido

    runs-on: ubuntu-latest
    steps:
      - run: echo "Obter o Codigo"
      - run: echo "Configurar o kubeconfig"
      - run: echo "Executar o apply"
            
