name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do C칩digo
        uses: actions/checkout@v5

      - run: echo "Obter o C칩digo"
      - run: echo "Executar o Docker Build"
      - run: echo "Enviar para o DockerHub"
  CD:
    needs: CI # Garante que o CD s칩 rodar치 se o CI for bem-sucedido
      
    runs-on: ubuntu-latest
    steps:
      - run: echo "Obter o Codigo"
      - run: echo "Configurar o kubeconfig"
      - run: echo "Executar o apply"
            
